<ion-header>
    <ion-toolbar>
      <ion-title>Atleta</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-card-header>
        <ion-card-title>Consulta de Atleta</ion-card-title>
      </ion-card-header>  
      <ion-list>
    <ion-item>
        <ion-label fixed>Id:</ion-label>
        <ion-input type="int"  [(ngModel)]="sumula.nomeCompeticao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Nome:</ion-label>
          <ion-input type="int" [(ngModel)]="sumula.nomeCompeticao"></ion-input>
      </ion-item>
      </ion-list>
      </ion-list>
</ion-content>
      